:root {
    --GRAY-1: #9F9F9F;
    --rosa-primario: #F71963;
  }
  
  * {
    margin: 0;
  }
  
  .all-banner {
    width: 100%;
    height: 395px;
    flex-shrink: 0;
    margin-bottom: 70px;
  }
  
  .img {
    filter: brightness(0.6);
    width: 100%;
    height: 395px;
  }
  
  .banner-text {
    position: absolute;
    top: 200px;
    left: 80px;
    padding: 10px;
    width: 822px;
    height: 128px;
    flex-shrink: 0;
  }
  
  .white-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .banner-text2 {
    width: 389px;
    height: 54px;
    position: absolute;
    top: 361px;
    left: 80px;
  }
  
  .white-text2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .banner-btn {
    width: 227px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--rosa-primario);
    border: 1px var(--rosa-primario) solid;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 430px;
    left: 80px;
  }