.related-products {
    color: var(--rosa-primario);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 45px;
    display: flex;
    justify-content: center;
  }